@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  /* background-color: rgb(199, 229, 241); */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  font-family: "Montserrat";
  height: 100vh;
}

.main-scan {
  padding-top: 70px;
  height: 100vh;
}

.main-receipts {
  padding-top: 90px;
}
