@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  /* background-color: rgb(199, 229, 241); */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  font-family: "Montserrat";
}

.App-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to bottom,
    rgb(200, 225, 245) 1%,
    rgb(7, 77, 197)
  );
  color: white;
  font-size: 1em;
}

.App-logo {
  margin: 5px 0;
  width: 60px;
}

.App-top-switch {
  display: flex;
  align-items: center;
}
