/* Modal Content */
.expiring-receipts-modal {
  position: absolute;
  top: 300px;
  width: 100vw;
}

.modal-content {
  /* Box */
  font-size: 1em;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
  width: 95vw;
  height: max-content;
  /* animation */
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 100px #000;
  animation-name: animatetop;
  animation-duration: 1.5s;
  z-index: 1;
}

.modal-content li {
  font-size: 1.1em;
  margin-bottom: 5px;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #6f9ddf;
  color: white;
}

.modal-header h2 {
  margin-right: 10px;
}

/* The Close Button */
.close {
  display: flex;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

.hidden {
  display: none;
}

/* Add Animation */
@keyframes animatetop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
