.no-receipts {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  color: rgb(67, 157, 27);
  font-size: 1.3em;
}

.delete-all-receipts {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.12),
    0 2px 5px 0 rgba(50, 50, 50, 0.16);
  bottom: 0;
  height: 0;
  position: sticky;
  transition: all 0.4s ease-in-out;
}

.delete-all-receipts-sticky {
  height: 60px;
}

.delete-all-receipts button {
  color: white;
  margin: 10px auto;
  padding: 5px;
  width: 170px;
  height: 40px;
  font-size: 1em;
  border-radius: 20px;
  border: 2px solid rgb(129, 171, 241);
  background-color: rgb(71, 135, 247);
  transition-duration: 0.4s;
  cursor: pointer;
}

.delete-all-receipts button:hover {
  background-color: rgb(129, 171, 241); /* Green */
}
